*{
    padding: 0;
    margin: 0;
    font-family: "Jersey 25 Charted";
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(36, 34, 48);
    color:rgb(0, 225, 255);

    justify-content: center;
    align-items: center;
    height: 64px;

    font-size: 50px;
}

.flex-grow {
    flex-grow: 1;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-dvw {
    width: 100dvw;
}

.h-dvh {
    height: 100dvh;
}

.nav {
    background-color: rgb(36, 34, 48);
    width: 10%;
    color:rgb(0, 225, 255);
}

.nav a:hover {
    background-color: rgb(39, 39, 168);
    color:rgb(0, 213, 255);
}

.nav a:hover::after{
    content: '525';
}